@black: #000;
@white: #fff;
@gray: #2F2E2E;
@red: #FF0000;

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  line-height: 1.2;
  color: @black;
  padding: 100px 0 0;
  margin: 0;
}

.wrapper {
  max-width: 1620px;
  margin: 0 auto;
  padding: 15px 15px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: white;
}

.header2 {
  width: 80%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .text {
    color: #6D6C79;
    padding: 5px 5px;
  }

  .personal {
    display: flex;

    .contacts {
      font-family: 'Montserrat', sans-serif;
      font-size: 0.8rem;
      color: #6D6C79;
      border: none;
      background: none;
      padding: 5px 5px;
    }

    .btn {
      color: #6D6C79;
      display: flex;
      align-items: center;
      border: none;
      background: #F3F3F4;
      border-radius: 8px;
      padding: 5px 5px;
      margin-left: 20px;

      span {
        margin-left: 5px;
      }
    }

  }
}

.slide {
  background: url("img/slide-4-scaled_1.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  .wrapper {
    padding: 15px;

    .new {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      max-width: 30%;
      text-align: center;
      max-height: 15%;

      strong {
        font-size: 2.25rem;
      }

      p {

        font-size: 1rem;
      }


    }

    .btnn {
      width: 30%;
      text-align: center;

      .btn {
        font-size: 0.8rem;
        padding: 10px 35px;
        align-self: center;
        background: #FFED00;
        border: none;
        border-radius: 8px;
        margin-bottom: 30px;
      }
    }
  }
}

.boxes {
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;

    .box1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #E7F9FB;
      border-radius: 10px;
      padding: 5px 5px;

      img {
        width: 20px;
      }
    }

    .box2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #FCF8ED;
      border-radius: 10px;
      padding: 5px 5px;

      img {
        width: 20px;
      }
    }

    .box3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #FBEDEC;
      border-radius: 10px;
      padding: 5px 5px;

      img {
        width: 20px;
      }
    }

    .box4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #ECEEFB;
      border-radius: 10px;
      padding: 5px 5px;

      img {
        width: 20px;
      }
    }
  }
}

.card {
  .wrapper {
    display: flex;
    justify-content: space-between;

    .text_card {
      color: #6E6D7A;
      max-width: 50%;

      strong {
        text-align: center;
        font-size: 2.25rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .card2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      p {
        color: #6E6D7A;
      }
    }
  }
}

.legacy {
  background: #344C69;

  .wrapper {
    display: block;
    text-align: center;
    max-width: 50%;
    color: #E5E5E5;

    .text_stat {
      display: flex;
      justify-content: center;

      .go {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
      }

    }

    .btn {
      background: #344C69;
      color: #E5E5E5;
      border: 1px solid #E5E5E5;
      border-radius: 8px;
      padding: 5px 50px;
    }
  }
}

.legacy2 {
  background-image: url("img/pattern_add.png");
  background-color: #2F2E2E;
  color: #F6F6F6;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
      margin: 10px auto;
    }

    .btn2 {
      margin-top: 10px;
      background: #FFED00;
      border-radius: 8px;
      padding: 5px 40px;
      border: 1px solid #FFED00;
    }
  }
}

.footer {
  background: #171717;

  .wrapper {
    display: flex;
    justify-content: space-between;
    color: #E5E5E5;

    .block1 {
      display: flex;
      width: 75%;
      justify-content: space-between;

      .block2 {
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 60%;

      }
    }
  }
}

.end {
  background: #171717;
  color: #717171;
  text-align: center;

  .line {
    width: 100%;
    height: 2px;
    background: #2F2E2E;
    margin: 0 auto;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media all and (max-width: 1023px) {
  html {
    font-size: 14px;
  }

  .slide {
    .wrapper {
      .new {
        width: 50%;
      }
    }
  }
}


@media (max-width: 767px) {
  body {
    font-size: 10px;
    padding: 100px 0 0;
  }

  header {
    height: 100px;

    .header2 {
      position: relative;
      margin: 10px auto;

      a {
        position: absolute;
        margin-top: 40px;
        left: 0;
        right: 0;
        width: 100%;

        p {
          text-align: center;
          margin: 0;

          img {
            width: 150px;
          }
        }
      }

      .personal {
        .btn {
          width: 40px;
          display: flex;
          justify-content: center;

          span {
            display: none;
          }
        }
      }
    }
  }

  .slide {
    background-size: cover;

    .wrapper {
      .new {
        padding: 25px 15px;
        text-align: left;
        max-width: 90%;
        width: 60%;
      }

      .btnn {
        width: 100%;
        padding: 10px 35px;

        .btn {
          width: 100%;
        }
      }
    }
  }


  .boxes {
    .wrapper {
      grid-template-columns: 1fr;
    }
  }

  .card {
    .wrapper {
      display: block;

      .text_card {
        margin: 0 auto;
        max-width: 100%;
      }
    }
  }

  .legacy {
    .wrapper {
      max-width: 100%;

      .text_stat {
        display: block;

        strong {
          font-size: 1.2rem;
        }
      }
    }
  }

  .footer {
    .wrapper {
      display: block;
      text-align: center;

      .block1 {
        width: 100%;

        .block2 {
          display: block;
          width: 50%;
        }
      }
    }
  }

}