@black: #000;
@white: #fff;
@gray: #2F2E2E;
@red: #FF0000;
@gray90: #E5E5E5;

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: @black;
  padding: 80px 0 0;
  margin: 0;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 15px 15px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: white;
  z-index: 1;
  height: 70px;
  margin: 0 auto;
  max-width: 1920px;
}

.header__header {
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 1188px;

  .header__text {
    color: #6D6C79;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;


  }

  .header__img {
    position: relative;
    left: 92px;
  }

  .header__personal {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;


    .header__contacts {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 12px;
      line-height: 15px;
      color: #6D6C79;
      border: none;
      background: none;
      margin-right: 30px;
    }

    .header__btn {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #6D6C79;
      display: flex;
      align-items: flex-start;
      border: none;
      background: #F3F3F4;
      border-radius: 8px;
      padding: 10px 25px 10px 20px;


      header__img {
        margin-right: 10px;
      }
    }
  }
}

.slider {
  background: url("img/slide-4-scaled_1.png");
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1920px;
  display: flex;
  height: 450px;
  margin: 0 auto;


}

.slider__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  right: 290px;

  .slider__slide {
    display: flex;
    flex-direction: column;
    max-width: 406px;
    max-height: 227px;
    margin: 0 -13px;


    .slider__new {
      padding-top: 0;
      display: flex;
      flex-direction: column;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        margin: 35px 0;
        margin-bottom: 40px;
      }

      .slider__newer {
        margin-top: -36px;
        margin-left: 2px;
        p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 44px;
          margin-bottom: 0;
        }
      }
    }

    .slider__btnn {
      padding: 0;
      margin: 17px 0;

      .slider__btn {
        padding: 16px 59px;
        text-align: center;
        background: #FFED00;
        border: none;
        border-radius: 8px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

.slide2 {
  display: none;
  flex-direction: column;
  max-width: 406px;
  max-height: 227px;
  margin: 0 -13px;


  .new {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      margin: 35px 0;
      margin-bottom: 40px;
    }
  }

  .btnn {
    padding: 0;
    margin: 17px 0;

    .btn {

      padding: 16px 59px;
      text-align: center;
      background: #FFED00;
      border: none;
      border-radius: 8px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;

    }
  }
}


.boxes {
  margin: 0 auto;

  .wrapper {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1194px;
    margin-top: 70px;
    padding: 0;

    .boxes__box1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #E7F9FB;
      border-radius: 10px;
      padding: 5px 5px;
      width: 276px;
      height: 65px;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 600;

      img {
        width: 20px;
        margin-bottom: 8px;
      }
    }

    .boxes__box2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #FCF8ED;
      border-radius: 10px;
      padding: 5px 5px;
      width: 276px;
      height: 70px;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 600;

      img {
        width: 20px;
        margin-bottom: 8px;
      }
    }

    .boxes__box3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #FBEDEC;
      border-radius: 10px;
      padding: 5px 5px;
      width: 276px;
      height: 70px;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 600;

      img {
        width: 20px;
        margin-bottom: 8px;
      }
    }

    .boxes__box4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #ECEEFB;
      border-radius: 10px;
      padding: 5px 5px;
      width: 276px;
      height: 70px;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 600;

      img {
        width: 20px;
        margin-bottom: 8px;
      }
    }
  }
}

.card {
  margin-top: 110px;
  margin-bottom: 50px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1220px;

    .text_card {
      color: #6E6D7A;
      max-width: 676px;

      h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        margin-bottom: 40px;
      }

      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        margin: 20px 0;
      }

    }

    .card2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      position: relative;
      top: -125px;

      p {
        color: #6E6D7A;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}

.legacy {
  background: #344C69;

  .wrapper {
    display: block;
    text-align: center;
    max-width: 1200px;
    color: #E5E5E5;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      margin-top: 80px;
    }

    .legacy__textStat {
      display: flex;
      justify-content: space-around;
      max-width: 1100px;
      margin: 0 auto;
      position: relative;
      top: 30px;
      right: 6px;

      .legacy__stats {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;

        h2 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 900;
          font-size: 64px;
          margin: 0 auto;
          line-height: 78px;
        }

        span {
          position: relative;
          top: 10px;
        }
      }

    }

    .legacy__text {
      max-width: 750px;
      margin: 0 auto;

      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;

      }
    }

    .legacy__btn {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      background: #344C69;
      color: #E5E5E5;
      border: 1px solid #E5E5E5;
      border-radius: 8px;
      width: 276px;
      height: 50px;
      margin-top: 35px;
      margin-bottom: 50px;
    }
  }
}

.legacy2 {
  background: url("img/pattern_add.png");
  background-color: #2F2E2E;
  color: #F6F6F6;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .legacy2__block1 {
      margin-top: 70px;
      margin-bottom: 10px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
    }

    .legacy2__block2 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
    }

    .legacy2__btn2 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;

      margin-top: 35px;
      margin-bottom: 80px;
      background: #FFED00;
      border-radius: 8px;
      width: 276px;
      height: 50px;
      border: 1px solid #FFED00;
    }
  }
}

.footer {
  background: #171717;
  padding-top: 60px;

  .wrapper {
    display: flex;
    color: #E5E5E5;
    max-width: 1194px;
    padding: 0;


    .footer__block1 {
      width: 25%;
      margin-top: -7px;
      color: @gray90;

      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
      }
    }

    .footer__block2 {
      display: flex;
      width: 75%;
      justify-content: space-between;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 19px;

      .footer__blocking {
        width: 30%;
        position: relative;
        left: 8px;
      }

      h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
      }

      .footer__block3 {
        display: flex;
        justify-content: space-around;
        padding: 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
        width: 75%;

        .footer__miniblock1 {
          position: relative;
          left: -20px;
        }
        .footer__miniblock2 {
          position: relative;
          left: -53px;
        }

      }
    }
  }
}

.end {
  background: #171717;
  color: #717171;
  text-align: center;
  padding-top: 38px;

  .line {
    width: 100%;
    height: 2px;
    background: #2F2E2E;
    margin: 0 auto;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
  }
}

@media all and (max-width: 1023px) {
  html {
    font-size: 14px;
  }

  .slide {
    .wrapper {
      .new {
        width: 50%;
      }
    }
  }
}


@media (max-width: 767px) {
  body {
    font-size: 10px;
    padding: 100px 0 0;
  }

  header {
    height: 100px;

    .header2 {
      position: relative;
      margin: 10px auto;

      a {
        position: absolute;
        margin-top: 40px;
        left: 0;
        right: 0;
        width: 100%;

        p {
          text-align: center;
          margin: 0;

          img {
            width: 150px;
          }
        }
      }

      .personal {
        .btn {
          width: 40px;
          display: flex;
          justify-content: center;

          span {
            display: none;
          }
        }
      }
    }
  }

  .slide {
    background-size: cover;

    .tns-outer {
      font-size: 1rem;
      display: flex;
      flex-direction: column-reverse;
      margin: 0 auto;

      .tns-nav {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        left: 45%;

        button {
          border-radius: 100%;
          border: #A8868E;
          border-color: #A8868E;
          background: #A8868E;
        }

        .tns-nav-active {
          border-radius: 100%;
          border-color: yellow;
          background: yellow;
          border: yellow;
        }
      }
    }

    .wrapper1 {

      .slide1 {
        .new {
          padding-top: 20px;
          display: flex;
          flex-direction: column;
          text-align: left;
          max-width: 70%;
        }

        .btnn {
          text-align: center;
          margin: 0;

          .btn {
            width: 100%;
            font-size: 0.8rem;
            padding: 10px 35px;
            align-self: center;
            background: #FFED00;
            border: none;
            border-radius: 8px;
            margin-bottom: 30px;
          }
        }
      }

      .slide2 {
        .new {
          padding-top: 20px;
          display: flex;
          flex-direction: column;
          text-align: left;
          max-width: 70%;
        }

        .btnn {
          text-align: center;
          margin: 0;

          .btn {
            width: 100%;
            font-size: 0.8rem;
            padding: 10px 35px;
            align-self: center;
            background: #FFED00;
            border: none;
            border-radius: 8px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }


  .boxes {
    .wrapper {
      grid-template-columns: 1fr;
    }
  }

  .card {
    .wrapper {
      display: block;

      .text_card {
        margin: 0 auto;
        max-width: 100%;
      }
    }
  }

  .legacy {
    .wrapper {
      max-width: 100%;

      .text_stat {
        display: block;

        strong {
          font-size: 1.2rem;
        }
      }
    }
  }

  .footer {
    .wrapper {
      display: block;
      text-align: center;

      .block1 {
        width: 100%;

        .block2 {
          display: block;
          width: 50%;
        }
      }
    }
  }

}